body {
  background-color: #dedede;
}

h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 32px;
}

a {
  color: #000;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

p {
  font-size: 25px;
  font-family: Arial, sans-serif;
  text-align: center;
}

div {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 5px;
  text-align: center;
}

div img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

/* Tablet view: từ 772px trở lên */
@media (min-width: 772px) {
  div {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin: 2%;
  }

  div img {
    width: 100%;
    height: auto;
    max-height: 30vh;
  }
}

/* Desktop view: từ 998px trở lên */
@media (min-width: 998px) {
  div {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin: 1%;
  }
}
